.navbar {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: #0a192f;
  position: fixed;
  z-index: 1;
  border-bottom: thin inset #8892b0;
}

.signature {
  flex-grow: 1;
  color: white;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  margin-left: 1em;
}
.signature a:link {
  text-decoration: none;
  color: white;
}
.signature a:visited {
  color: white;
}
.signature a:hover {
  color: #5ff1d0;
}

.signature:hover {
  color: #5ff1d0;
}
.signature:hover a:hover {
  color: #5ff1d0;
}

.nav-links {
  color: #8892b0;
  font-size: 1.5em;
  margin: 0.5em;
}
.nav-links a:link {
  text-decoration: none;
  color: white;
}
.nav-links a:visited {
  color: white;
}
.nav-links a:hover {
  color: #8892b0;
}

.nav--light {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
  flex-wrap: wrap;
  background-color: white;
  position: fixed;
  z-index: 1;
  border-bottom: thin inset #0a192f;
}

.signature--light {
  flex-grow: 1;
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  font-weight: 100;
  margin-left: 1em;
}
.signature--light a:link {
  text-decoration: none;
  color: black;
}
.signature--light a:visited {
  color: black;
}
.signature--light a:hover {
  color: #5ff1d0;
}

.nav-links--light {
  color: #8892b0;
  font-size: 1.5em;
  flex-shrink: 1;
  margin: 0.5em;
}
.nav-links--light a:link {
  text-decoration: none;
  color: black;
}
.nav-links--light a:visited {
  color: black;
}
.nav-links--light a:hover {
  color: #8892b0;
}

@media only screen and (max-width: 450px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 1fr 1fr;
  }
  .navbar #home-link {
    display: none;
  }
  .navbar .nav-links {
    font-size: 60%;
    display: flex;
    flex-shrink: 1;
  }
  .navbar #about-link {
    margin-left: 0px;
    margin-right: 0px;
    justify-self: center;
  }
  .navbar #experience-link {
    justify-self: center;
  }
  .navbar #project-link {
    justify-self: center;
  }
  .navbar .toggleWrapper {
    scale: 30%;
  }
  .navbar .toggle {
    scale: 70%;
  }
  .signature {
    scale: 0.45;
    margin: 0;
  }
  #dark-mode-button {
    scale: 0.3;
  }
  .nav--light {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 1fr 1fr;
  }
  .nav--light #home-link {
    display: none;
  }
  .nav--light .nav-links--light {
    font-size: 60%;
    display: flex;
    flex-shrink: 1;
  }
  .nav--light #home-link {
    display: none;
  }
  .nav--light #about-link {
    margin-left: 0px;
    margin-right: 0px;
    justify-self: center;
  }
  .nav--light #experience-link {
    justify-self: center;
  }
  .nav--light #project-link {
    justify-self: center;
  }
  .nav--light .toggleWrapper {
    scale: 30%;
  }
  .nav--light .toggle {
    scale: 70%;
  }
  .signature--light {
    scale: 0.45;
    margin: 0;
  }
  #dark-mode-button {
    scale: 0.3;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 1fr 1fr;
  }
  .navbar #home-link {
    display: none;
  }
  .navbar .nav-links {
    scale: 0.75;
    margin: 0px;
  }
  .navbar #about-link {
    justify-self: center;
  }
  .navbar #project-link {
    justify-self: center;
  }
  .navbar #experience-link {
    justify-self: center;
  }
  .navbar .toggleWrapper {
    margin-left: 2em;
  }
  .signature {
    scale: 0.75;
    margin: 0;
  }
  #dark-mode-button {
    scale: 0.3;
  }
  .nav--light {
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr 1fr 1fr;
  }
  .nav--light #home-link {
    display: none;
  }
  .nav--light .nav-links--light {
    scale: 0.75;
    margin: 0px;
  }
  .nav--light #about-link {
    justify-self: center;
  }
  .nav--light #experience-link {
    justify-self: center;
  }
  .nav--light #project-link {
    justify-self: center;
  }
  .nav--light .toggleWrapper {
    margin-left: 2em;
  }
  .signature--light {
    scale: 0.75;
    margin: 0;
  }
  #dark-mode-button {
    scale: 0.3;
  }
}
#dark-mode-button {
  position: relative;
  top: 0.75em;
  flex-shrink: 1;
  scale: 0.4;
}

.toggleWrapper {
  transform: translate3d(-50%, -50%, 0);
  color: white;
  scale: 0.45;
}

.toggleWrapper input {
  scale: 5;
}

#dn {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: "Dark";
  position: absolute;
  left: -65px;
  top: 15px;
  font-size: 1.5em;
  color: grey;
}

.toggle:after {
  content: "Light";
  position: absolute;
  right: -65px;
  top: 15px;
  font-size: 1.5em;
  color: white;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: black;
}

input:checked + .toggle:after {
  color: #749ed7;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.section-one {
  height: 65vh;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}
.section-one a:link {
  text-decoration: none;
}

main {
  background-color: #0a192f;
}

main > div {
  margin-left: 2em;
}

.section-one-small-intro {
  font-size: 1em;
  color: #5ff1d0;
}

.section-one-big-intro {
  font-size: 4em;
  color: white;
}

.section-one-second-line {
  font-size: 3.5em;
  color: #8892b0;
}

.section-one-paragraph {
  font-size: 1.5em;
  color: #8892b0;
}

.resume {
  max-width: 270px;
  margin-top: 2.5%;
  padding: 15px;
  border: 1px solid #5ff1d0;
}

.resume-text {
  font-size: 1.5em;
  color: #5ff1d0;
}

.main--light {
  background-color: white;
}

.section-one--light {
  height: 65vh;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}
.section-one--light a:link {
  text-decoration: none;
}
.section-one--light main > div {
  margin-left: 2em;
}
.section-one--light .section-one-small-intro {
  font-size: 1em;
  color: #8892b0;
}
.section-one--light .section-one-big-intro {
  font-size: 4em;
  color: #0a192f;
}
.section-one--light .section-one-second-line {
  font-size: 3.5em;
  color: #8892b0;
}
.section-one--light .section-one-paragraph {
  font-size: 1.5em;
  color: #8892b0;
}
.section-one--light .resume {
  max-width: 270px;
  margin-top: 2.5%;
  padding: 15px;
  border: 1px solid #0a192f;
}
.section-one--light .resume-text {
  font-size: 1.5em;
  color: #0a192f;
}

@media only screen and (max-width: 450px) {
  .section-one {
    height: 75vh;
    margin-right: 1em;
  }
  .section-one .section-one-second-line {
    margin-top: 2em;
    font-size: 2em;
  }
  .section-one .section-one-paragraph {
    margin-top: 0.5em;
  }
  .section-one .resume {
    margin-top: 1em;
  }
  .section-one .section-one-small-intro {
    display: none;
  }
  .section-one .section-one-big-intro {
    display: none;
  }
  .section-one .section-one-second-line {
    color: #5ff1d0;
  }
  .section-one--light {
    height: 75vh;
    margin-right: 1em;
  }
  .section-one--light .section-one-second-line {
    color: #0a192f;
    margin-top: 2em;
    font-size: 2em;
  }
  .section-one--light .section-one-paragraph {
    margin-top: 0.5em;
  }
  .section-one--light .resume {
    margin-top: 1em;
  }
  .section-one--light .section-one-small-intro {
    display: none;
  }
  .section-one--light .section-one-big-intro {
    display: none;
  }
}
@media only screen and (min-width: 451) and (max-width: 767px) {
  .section-one {
    height: 85vh;
  }
  .section-one-small-intro {
    display: none;
  }
  .section-one-big-intro {
    display: none;
  }
  .section-one-second-line {
    color: #5ff1d0;
  }
  .section-one--light {
    height: 85vh;
  }
  .section-one--light .section-one-second-line {
    color: #0a192f;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .section-one {
    height: 85vh;
  }
  .section-one--light {
    height: 85vh;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
  .section-one {
    height: 85vh;
  }
  .section-one--light {
    height: 85vh;
  }
}
@media only screen and (min-width: 2401px) and (max-width: 4500px) {
  .section-one {
    height: 85vh;
  }
  .section-one--light {
    height: 85vh;
  }
}
.about-page {
  background-color: #0a192f;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-page .about-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
}
.about-page h3 {
  color: #5ff1d0;
}
.about-page p,
.about-page div {
  color: #8892b0;
  font-size: 1em;
}
.about-page .about-summary,
.about-page .about-story,
.about-page .about-story-one {
  font-size: 1em;
}
.about-page .section-two-name,
.about-page .section-two-skills {
  color: white;
}

.HTML5-icon,
.CSS-icon,
.JS-icon,
.three-js-icon,
.react-icon {
  max-height: 50px;
  max-height: 50px;
}

.about-pic {
  max-height: 600px;
  max-width: 60%;
  border-radius: 50px;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-about-page {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.light-about-page .about-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
}
.light-about-page h3 {
  color: #0a192f;
}
.light-about-page p,
.light-about-page div {
  color: #8892b0;
  font-size: 1em;
}
.light-about-page .about-summary,
.light-about-page .about-story,
.light-about-page .about-story-one {
  font-size: 1em;
}
.light-about-page .section-two-name,
.light-about-page .section-two-skills {
  color: #0a192f;
}

.HTML5-icon,
.CSS-icon,
.JS-icon,
.three-js-icon,
.react-icon {
  max-height: 50px;
  max-height: 50px;
}

.about-pic {
  max-height: 600px;
  max-width: 60%;
  border-radius: 50px;
}

.left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.right-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  .about-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 88vh;
  }
  .about-page .right-box {
    display: none;
  }
  .about-page .about-title {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .about-page .section-two-skills {
    display: none;
  }
  .about-page .section-two-personal {
    display: none;
  }
  .about-story {
    display: none;
  }
  .about-pic {
    display: none;
  }
  .light-about-page {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    height: 88vh;
  }
  .light-about-page .right-box {
    display: none;
  }
  .light-about-page .about-title {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .light-about-page .section-two-skills {
    display: none;
  }
  .light-about-page .section-two-personal {
    display: none;
  }
  .light-about-page .about-story {
    display: none;
  }
  .light-about-page .about-pic {
    display: none;
  }
  .light-about-page h3 {
    color: #0a192f;
  }
  .light-about-page p,
  .light-about-page div {
    color: #8892b0;
  }
  .light-about-page .section-two-name,
  .light-about-page .section-two-skills {
    color: #0a192f;
  }
}
@media only screen and (min-width: 451) and (max-width: 767px) {
  .about-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .about-page .right-box {
    display: none;
  }
  .about-page .about-title {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .about-story-one {
    display: none;
  }
  .about-story {
    display: none;
  }
  .about-pic {
    display: none;
  }
  .light-about-page {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .light-about-page .right-box {
    display: none;
  }
  .light-about-page .about-title {
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .light-about-page h3 {
    color: #0a192f;
  }
  .light-about-page p,
  .light-about-page div {
    color: #8892b0;
    font-size: 1.1em;
  }
  .light-about-page .about-summary,
  .light-about-page .about-story,
  .light-about-page .about-story-one {
    font-size: 1em;
  }
  .light-about-page .section-two-name,
  .light-about-page .section-two-skills {
    color: #0a192f;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .about-page {
    height: 85vh;
  }
  .about-page .about-pic {
    max-height: 60%;
    max-width: 60%;
    border-radius: 50px;
  }
  .about-page .about-story-one {
    display: none;
  }
  .about-page .about-story {
    display: none;
  }
  .about-page .about-title {
    margin-top: 1em;
  }
  .about-page .about-pic {
    margin-top: 5.5em;
  }
  .about-page div {
    margin-top: -2.5em;
  }
  .light-about-page {
    height: 85vh;
  }
  .light-about-page .about-pic {
    max-height: 60%;
    max-width: 60%;
    border-radius: 50px;
  }
  .light-about-page .about-title {
    margin-top: 1em;
  }
  .light-about-page .about-pic {
    margin-top: 5.5em;
  }
  .light-about-page div {
    margin-top: -2.5em;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
  .about-page {
    height: 85vh;
    font-size: 1.1em;
  }
  .about-page .about-pic {
    max-height: 60%;
    max-width: 60%;
    border-radius: 50px;
  }
  .about-page .about-title {
    margin-top: 1em;
  }
  .about-page .about-pic {
    margin-top: 5.5em;
  }
  .about-page div {
    margin-top: -2.5em;
  }
  .about-page .section-two-skills {
    display: none;
  }
  .about-page .section-two-personal {
    display: none;
  }
  .light-about-page {
    height: 85vh;
    font-size: 1.4em;
  }
  .light-about-page .about-pic {
    max-height: 60%;
    max-width: 60%;
    border-radius: 50px;
  }
  .light-about-page .about-title {
    margin-top: 1em;
  }
  .light-about-page .about-pic {
    margin-top: 5.5em;
  }
  .light-about-page div {
    margin-top: -2.5em;
  }
  .light-about-page .section-two-skills {
    display: none;
  }
  .light-about-page .section-two-personal {
    display: none;
  }
}
@media only screen and (min-width: 2401px) and (max-width: 4500px) {
  .about-page {
    height: 85vh;
    font-size: 1.4em;
  }
  .light-about-page {
    height: 85vh;
    font-size: 1.4em;
  }
}
.experience-page {
  background-color: #0a192f;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experience-page .experience-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  color: #5ff1d0;
}
.experience-page h3 {
  color: #5ff1d0;
}
.experience-page p,
.experience-page div {
  color: #8892b0;
  font-size: 1em;
}
.experience-page .experience-pt-1,
.experience-page .experience-pt-2,
.experience-page .experience-pt-3 {
  font-size: 1em;
}

.experience-right > img {
  max-height: 600px;
  border-radius: 50px;
  height: 50%;
  width: 80%;
}

.experience-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 6em;
}

.exp-highlight-one,
.exp-highlight-two,
.exp-highlight-three,
.exp-highlight-four {
  color: white;
}

.experience-page-light {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experience-page-light .experience-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  color: #0a192f;
}
.experience-page-light h3 {
  color: #5ff1d0;
}
.experience-page-light p,
.experience-page-light div {
  color: #8892b0;
  font-size: 1em;
}
.experience-page-light .experience-pt-1,
.experience-page-light .experience-pt-2,
.experience-page-light .experience-pt-3 {
  font-size: 1em;
}
.experience-page-light .experience-right > img {
  max-height: 600px;
  border-radius: 50px;
  height: 50%;
  width: 80%;
}
.experience-page-light .experience-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience-page-light .experience-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
  margin-bottom: 6em;
}
.experience-page-light .exp-highlight-one,
.experience-page-light .exp-highlight-two,
.experience-page-light .exp-highlight-three,
.experience-page-light .exp-highlight-four {
  color: #0a192f;
}

@media only screen and (max-width: 450px) {
  .experience-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .experience-page .experience-left {
    height: 100%;
  }
  .experience-page .experience-title {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  .experience-right > img {
    display: none;
  }
  .experience-page-light {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .experience-page-light .experience-left {
    height: 100%;
  }
  .experience-page-light .experience-title {
    margin-bottom: 0.5em;
    margin-top: 2em;
  }
  .experience-page-light .experience-right > img {
    display: none;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .experience-page {
    display: grid;
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .experience-page .experience-left {
    height: 120%;
  }
  .experience-page .experience-title {
    margin-bottom: 0.5em;
  }
  .experience-right > img {
    display: none;
  }
  .experience-page-light {
    display: grid;
    grid-template-columns: 1fr;
    height: 85vh;
  }
  .experience-page-light .experience-left {
    height: 120%;
  }
  .experience-page-light .experience-title {
    margin-bottom: 0.5em;
  }
  .experience-page-light .experience-right > img {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .experience-page {
    height: 85vh;
  }
  .experience-page .experience-pt-1 {
    margin-bottom: -0.9em;
  }
  .experience-page .experience-title {
    margin-bottom: 0.2em;
  }
  .experience-page .experience-right > img {
    max-width: 80%;
    height: 50%;
  }
  .experience-page-light {
    height: 85vh;
  }
  .experience-page-light .experience-pt-1 {
    margin-bottom: -0.9em;
  }
  .experience-page-light .experience-title {
    margin-bottom: 0.2em;
  }
  .experience-page-light .experience-right > img {
    max-width: 80%;
    height: 50%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
  .experience-page {
    height: 85vh;
    font-size: 1.4em;
  }
  .experience-page .experience-pt-1 {
    margin-top: 2em;
  }
  .experience-page .experience-title {
    margin-bottom: -0.5em;
  }
  .experience-page .experience-right > img {
    max-width: 80%;
    height: 50%;
  }
  .experience-page-light {
    height: 85vh;
    font-size: 1.4em;
  }
  .experience-page-light .experience-pt-1 {
    margin-top: 2em;
  }
  .experience-page-light .experience-title {
    margin-bottom: -0.5em;
  }
  .experience-page-light .experience-right > img {
    max-width: 80%;
    height: 50%;
  }
}
@media only screen and (min-width: 2401px) and (max-width: 4500px) {
  .experience-page {
    height: 85vh;
    font-size: 1.5em;
  }
  .experience-page-light {
    height: 85vh;
    font-size: 1.5em;
  }
}
.projects-page {
  background-color: #0a192f;
  height: 100vh;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}
.projects-page .project-display {
  margin-left: 2em;
}
.projects-page p,
.projects-page div {
  color: white;
  font-size: 1.2em;
}
.projects-page .projects-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
  color: #5ff1d0;
  margin-left: 1em;
}
.projects-page .project-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.projects-page img {
  height: 100%;
  width: 75%;
  max-height: 200px;
  max-width: 500px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six,
.brads-clothing,
.three-js-galaxy {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

.calc-thumb:hover,
.dashboard-thumb:hover,
.signup-thumb:hover,
.landing-thumb:hover,
.react-typing-game-thumb:hover,
.brads-clothing-thumb:hover {
  border: 1px solid #5ff1d0;
  box-shadow: 0 0 25px #5ff1d0;
  transition-property: box-shadow;
  transition: box-shadow ease-out 0.2s;
}

.projects-page-light {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: center;
}
.projects-page-light .project-display {
  margin-left: 2em;
}
.projects-page-light p,
.projects-page-light div {
  color: white;
  font-size: 1.2em;
}
.projects-page-light .projects-title {
  font-size: 3em;
  align-self: flex-start;
  margin-bottom: 1.5em;
  color: #0a192f;
  margin-left: 1em;
}
.projects-page-light .project-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.projects-page-light img {
  height: 100%;
  width: 75%;
  max-height: 200px;
  max-width: 500px;
}

.project-one,
.project-two,
.project-three,
.project-four,
.project-five,
.project-six {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.calc-thumb:hover,
.dashboard-thumb:hover,
.signup-thumb:hover,
.landing-thumb:hover,
.react-typing-game-thumb:hover,
.brads-clothing-thumb:hover {
  border: 1px solid #0a192f;
  box-shadow: 0 0 25px #5ff1d0;
  transition-property: box-shadow;
  transition: box-shadow ease-out 0.2s;
}

@media only screen and (max-width: 450px) {
  .projects-page {
    display: grid;
    height: 150vh;
  }
  .projects-page .project-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    flex-direction: row;
  }
  .projects-page .projects-title {
    size: 0px;
    margin: 0px;
    margin-top: 2.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0px;
  }
  .projects-page-light {
    display: grid;
    height: 150vh;
  }
  .projects-page-light .project-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    flex-direction: row;
  }
  .projects-page-light p,
  .projects-page-light div {
    color: #0a192f;
  }
  .projects-page-light .projects-title {
    size: 0px;
    margin: 0px;
    margin-top: 2.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 767px) {
  .projects-page {
    display: grid;
    height: 225vh;
  }
  .projects-page .project-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    flex-direction: row;
  }
  .projects-page .projects-title {
    size: 1px;
  }
  .projects-page-light {
    display: grid;
    height: 225vh;
  }
  .projects-page-light .project-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    flex-direction: row;
  }
  .projects-page-light p,
  .projects-page-light div {
    color: #0a192f;
  }
  .projects-page-light .projects-title {
    size: 1px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .projects-page {
    height: 85vh;
  }
  .projects-page .project-display {
    height: 80%;
    width: 95%;
  }
  .projects-page .projects-title {
    font-size: 3em;
  }
  .projects-page-light {
    height: 85vh;
  }
  .projects-page-light .project-display {
    height: 75%;
    width: 95%;
  }
  .projects-page-light .projects-title {
    font-size: 3em;
  }
  .projects-page-light p,
  .projects-page-light div {
    color: #0a192f;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
  .projects-page {
    height: 70vh;
  }
  .projects-page .project-display {
    height: 150%;
    width: 95%;
  }
  .projects-page .projects-title {
    font-size: 3em;
  }
  .projects-page-light {
    height: 70vh;
  }
  .projects-page-light .project-display {
    height: 150%;
    width: 95%;
  }
  .projects-page-light .projects-title {
    font-size: 3em;
  }
  .projects-page-light p,
  .projects-page-light div {
    color: #0a192f;
  }
}
@media only screen and (min-width: 2401px) and (max-width: 4500px) {
  .projects-page-light p,
  .projects-page-light div {
    color: #0a192f;
  }
}
.footer {
  width: 100%;
  height: 15vh;
  color: #8892b0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a192f;
  position: sticky;
  bottom: 0;
  border-top: thin inset #8892b0;
}
.footer a:link {
  text-decoration: none;
  color: white;
}
.footer a:visited {
  color: white;
}
.footer a:hover {
  color: #5ff1d0;
}

.footer-title {
  font-size: 20px;
  color: #5ff1d0;
}

.footer-email {
  margin-left: 5px;
}

.github {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: #8892b0;
}

.git-hub-link {
  position: relative;
  right: 190px;
  top: 30px;
}

.github:hover {
  background-color: #5ff1d0;
}

.linkedin-link {
  position: relative;
  right: 180px;
  top: 32px;
}

.linkedin-icon {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.linkedin-icon:hover {
  background-color: #5ff1d0;
}

.footer-light {
  width: 100%;
  height: 15vh;
  color: #8892b0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: sticky;
  bottom: 0;
  border-top: thin inset white;
}
.footer-light a:link {
  text-decoration: none;
  color: #0a192f;
}
.footer-light a:visited {
  color: #0a192f;
}
.footer-light .footer-email {
  margin-left: 5px;
  color: #0a192f;
}
.footer-light .footer-title {
  font-size: 20px;
  color: #0a192f;
}
.footer-light .github {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color: #8892b0;
}
.footer-light .git-hub-link {
  position: relative;
  right: 190px;
  top: 30px;
}
.footer-light .linkedin-link {
  position: relative;
  right: 180px;
  top: 32px;
}
.footer-light .linkedin-icon {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

@media only screen and (max-width: 450px) {
  .footer {
    height: 16vh;
  }
  .footer-title {
    display: none;
  }
  .footer-email {
    margin-left: 4em;
    margin-bottom: 1.5em;
  }
  .linkedin-icon,
  .git-hub-link {
    margin-bottom: 0.5em;
  }
  .footer {
    height: 16vh;
  }
  .footer-light .footer-title {
    display: none;
  }
  .footer-light .footer-email {
    margin-left: 4em;
    margin-bottom: 1.5em;
  }
  .footer-light .linkedin-icon,
  .footer-light .git-hub-link {
    margin-bottom: 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    height: 21vh;
  }
  .footer-light {
    height: 21vh;
  }
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=index.css.map */
