@import "../variables.scss";

.experience-page {
	background-color: $primary-color;
	height: 85vh;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.experience-title {
		font-size: 3em;
		align-self: flex-start;
		margin-bottom: 1.5em;
		color: $secondary-color;
	}

	h3 {
		color: $secondary-color;
	}

	p,
	div {
		color: $fourth-color;
		font-size: 1.2em;
	}

	.experience-pt-1,
	.experience-pt-2,
	.experience-pt-3 {
		font-size: 1.2em;
	}
}

.experience-right > img {
	max-height: 600px;
	border-radius: 50px;
	height: 50%;
	width: 80%;
}

.experience-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.experience-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 2em;
	margin-bottom: 6em;
}

.exp-highlight-one,
.exp-highlight-two,
.exp-highlight-three,
.exp-highlight-four {
	color: $tertiary-color;
}

// Light mode
.experience-page-light {
	background-color: $tertiary-color;
	height: 85vh;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.experience-title {
		font-size: 3em;
		align-self: flex-start;
		margin-bottom: 1.5em;
		color: $primary-color;
	}

	h3 {
		color: $secondary-color;
	}

	p,
	div {
		color: $fourth-color;
		font-size: 1.2em;
	}

	.experience-pt-1,
	.experience-pt-2,
	.experience-pt-3 {
		font-size: 1.2em;
	}

	.experience-right > img {
		max-height: 600px;
		border-radius: 50px;
		height: 50%;
		width: 80%;
	}

	.experience-right {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.experience-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 2em;
		margin-bottom: 6em;
	}

	.exp-highlight-one,
	.exp-highlight-two,
	.exp-highlight-three,
	.exp-highlight-four {
		color: $primary-color;
	}
}

// Very small media query
@media only screen and (max-width: 450px) {
	.experience-page {
		display: grid;
		grid-template-columns: 1fr;
		height: 100%;

		.experience-left {
			height: 100%;
		}

		.experience-title {
			margin-bottom: 0.5em;
			margin-top: 1em;
		}
	}

	.experience-right > img {
		display: none;
	}

	// Light mode very small media query
	.experience-page-light {
		display: grid;
		grid-template-columns: 1fr;
		height: 100%;

		.experience-left {
			height: 100%;
		}

		.experience-title {
			margin-bottom: 0.5em;
			margin-top: 1em;
		}

		.experience-right > img {
			display: none;
		}
	}
}

// Small media query
@media only screen and (min-width: 451px) and (max-width: 767px) {
	.experience-page {
		display: grid;
		grid-template-columns: 1fr;
		height: 85vh;

		.experience-left {
			height: 120%;
		}

		.experience-title {
			margin-bottom: 0.5em;
		}
	}

	.experience-right > img {
		display: none;
	}

	// Light mode small media query
	.experience-page-light {
		display: grid;
		grid-template-columns: 1fr;
		height: 85vh;

		.experience-left {
			height: 120%;
		}

		.experience-title {
			margin-bottom: 0.5em;
		}

		.experience-right > img {
			display: none;
		}
	}
}

// Medium media query
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.experience-page {
		height: 85vh;

		.experience-pt-1 {
			margin-bottom: -0.9em;
		}

		.experience-title {
			margin-bottom: 0.2em;
		}

		.experience-right > img {
			max-width: 80%;
			height: 50%;
		}
	}

	// Light mode large media query
	.experience-page-light {
		height: 85vh;

		.experience-pt-1 {
			margin-bottom: -0.9em;
		}

		.experience-title {
			margin-bottom: 0.2em;
		}

		.experience-right > img {
			max-width: 80%;
			height: 50%;
		}
	}
}

// Large media query
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
	.experience-page {
		height: 85vh;

		.experience-pt-1 {
			margin-top: 2em;
			font-size: 1.1em;
		}

		.experience-title {
			margin-bottom: -0.5em;
		}

		.experience-right > img {
			max-width: 80%;
			height: 50%;
		}
	}

	// Light mode large media query
	.experience-page-light {
		height: 85vh;

		.experience-pt-1 {
			margin-top: 2em;
			font-size: 1.1em;
		}

		.experience-title {
			margin-bottom: -0.5em;
		}

		.experience-right > img {
			max-width: 80%;
			height: 50%;
		}
	}
}
