@import "../variables.scss";

// Dark mode
.section-one {
	height: 65vh;

	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: center;

	a:link {
		text-decoration: none;
	}
}

main {
	background-color: $primary-color;
}

main > div {
	margin-left: 2em;
}

.section-one-small-intro {
	font-size: 1em;
	color: $secondary-color;
	// margin: 0.5em;
}

.section-one-big-intro {
	font-size: 2em;
	color: $tertiary-color;
}

.section-one-second-line {
	font-size: 3.5em;
	color: $fourth-color;
}

.section-one-paragraph {
	font-size: 1.5em;
	color: $fourth-color;
}

.resume {
	max-width: 270px;
	margin-top: 2.5%;
	padding: 15px;
	border: 1px solid $secondary-color;
}

.resume-text {
	font-size: 1.5em;
	color: $secondary-color;
}

// Light mode

.main--light {
	background-color: $tertiary-color;
}
.section-one--light {
	height: 65vh;

	display: flex;
	flex-shrink: 1;
	flex-direction: column;
	justify-content: center;

	a:link {
		text-decoration: none;
	}

	main > div {
		margin-left: 2em;
	}

	.section-one-small-intro {
		font-size: 1em;
		color: $fourth-color;
		// margin: 0.5em;
	}

	.section-one-big-intro {
		font-size: 2em;
		color: $primary-color;
	}

	.section-one-second-line {
		font-size: 3.5em;
		color: $fourth-color;
	}

	.section-one-paragraph {
		font-size: 1.5em;
		color: $fourth-color;
	}

	.resume {
		max-width: 270px;
		margin-top: 2.5%;
		padding: 15px;
		border: 1px solid $primary-color;
	}

	.resume-text {
		font-size: 1.5em;
		color: $primary-color;
	}
}

// Small media query
@media only screen and (min-width: 200px) and (max-width: 767px) {
	.section-one {
		height: 85vh;
	}

	.section-one-small-intro {
		display: none;
	}

	.section-one-big-intro {
		display: none;
	}

	.section-one-second-line {
		color: $secondary-color;
	}

	// Light mode small media query
	.section-one--light {
		height: 85vh;

		.section-one-second-line {
			color: $primary-color;
		}
	}
}

// Medium media query
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.section-one {
		height: 85vh;
	}

	// Light mode large media query
	.section-one--light {
		height: 85vh;
	}
}

// Large media query
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
	.section-one {
		height: 85vh;
	}

	// Light mode large media query
	.section-one--light {
		height: 85vh;
	}
}
