@import "../variables.scss";

.footer {
	width: 100%;
	height: 15vh;
	color: $fourth-color;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary-color;

	border-top: thin inset $fourth-color;

	a:link {
		text-decoration: none;
		color: $tertiary-color;
	}

	a:visited {
		color: $tertiary-color;
	}

	a:hover {
		color: $secondary-color;
	}
}

.footer-title {
	font-size: 20px;
	color: $secondary-color;
}

.footer-email {
	margin-left: 5px;
}

.github {
	height: 30px;
	width: 30px;
	border-radius: 100px;
	background-color: $fourth-color;
}

.git-hub-link {
	position: relative;
	right: 190px;
	top: 30px;
}

.github:hover {
	background-color: $secondary-color;
}

.linkedin-link {
	position: relative;
	right: 180px;
	top: 32px;
}

.linkedin-icon {
	height: 40px;
	width: 40px;
	border-radius: 100px;
}

.linkedin-icon:hover {
	background-color: $secondary-color;
}

// Light mode
.footer-light {
	width: 100%;
	height: 15vh;
	color: $fourth-color;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $tertiary-color;

	border-top: thin inset $tertiary-color;

	a:link {
		text-decoration: none;
		color: $primary-color;
	}

	a:visited {
		color: $primary-color;
	}

	// a:hover {
	// 	color: $secondary-color;
	// }

	.footer-email {
		margin-left: 5px;
		color: $primary-color;
	}

	.footer-title {
		font-size: 20px;
		color: $primary-color;
	}

	.github {
		height: 30px;
		width: 30px;
		border-radius: 100px;
		background-color: $fourth-color;
	}

	.git-hub-link {
		position: relative;
		right: 190px;
		top: 30px;
	}

	// .github:hover {
	// 	background-color: $primary-color;
	// }

	.linkedin-link {
		position: relative;
		right: 180px;
		top: 32px;
	}

	.linkedin-icon {
		height: 40px;
		width: 40px;
		border-radius: 100px;
	}

	// .linkedin-icon:hover {
	// 	background-color: $primary-color;
	// }
}

// Very small media query
@media only screen and (max-width: 450px) {
	.footer {
		height: 21vh;
	}

	.footer-title {
		display: none;
	}

	.footer-email {
		margin-left: 4em;
		margin-bottom: 1.5em;
	}

	.linkedin-icon,
	.git-hub-link {
		margin-bottom: 0.5em;
	}

	// Light mode very small media query
	.footer {
		height: 21vh;
	}

	.footer-light {
		.footer-title {
			display: none;
		}

		.footer-email {
			margin-left: 4em;
			margin-bottom: 1.5em;
		}

		.linkedin-icon,
		.git-hub-link {
			margin-bottom: 0.5em;
		}
	}
}

// Medium media query
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.footer {
		height: 21vh;
	}

	// Light mode large media query
	.footer-light {
		height: 21vh;
	}
}
