@import "../variables.scss";

.navbar {
	display: flex;
	align-items: center;
	height: 15vh;
}

.signature {
	flex-grow: 1;

	color: white;
	font-size: 2em;
	font-family: "Dancing Script", cursive;
	font-weight: 100;
}

.signature:hover {
	color: #5ff1d0;
}

.nav-links {
	color: #8892b0;
	font-size: 1.5em;
	flex-shrink: 1;
}

.nav-links:hover {
	color: #5ff1d0;
}

// Lightmode
.light-mode-navbar {
	background-color: $tertiary-color;
}

.navbar {
	display: flex;
	align-items: center;
	height: 15vh;
}

.signature {
	flex-grow: 1;

	color: white;
	font-size: 2em;
	font-family: "Dancing Script", cursive;
	font-weight: 100;
}

.signature:hover {
	color: #5ff1d0;
}

.nav-links {
	color: #8892b0;
	font-size: 1.5em;
	flex-shrink: 1;
}

.nav-links:hover {
	color: #5ff1d0;
}
