@import "../variables.scss";

.about-page {
	background-color: $primary-color;
	height: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.about-title {
		font-size: 3em;
		align-self: flex-start;
		margin-bottom: 1.5em;
	}

	h3 {
		color: $secondary-color;
	}

	p,
	div {
		color: $fourth-color;
		font-size: 1em;
	}
	.about-summary,
	.about-story,
	.about-story-one {
		font-size: 1em;
	}

	.section-two-name,
	.section-two-skills {
		color: $tertiary-color;
	}
}

.HTML5-icon,
.CSS-icon,
.JS-icon,
.three-js-icon,
.react-icon {
	max-height: 50px;
	max-height: 50px;
}

.about-pic {
	max-height: 600px;
	max-width: 60%;
	border-radius: 50px;
}

.left-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 2em;
}

.right-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Light mode

.light-about-page {
	background-color: $tertiary-color;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.about-title {
		font-size: 3em;
		align-self: flex-start;
		margin-bottom: 1.5em;
	}

	h3 {
		color: $primary-color;
	}

	p,
	div {
		color: $fourth-color;
		font-size: 1em;
	}
	.about-summary,
	.about-story,
	.about-story-one {
		font-size: 1em;
	}

	.section-two-name,
	.section-two-skills {
		color: $primary-color;
	}
}

.HTML5-icon,
.CSS-icon,
.JS-icon,
.three-js-icon,
.react-icon {
	max-height: 50px;
	max-height: 50px;
}

.about-pic {
	max-height: 600px;
	max-width: 60%;
	border-radius: 50px;
}

.left-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 2em;
}

.right-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Very small media query
@media only screen and (max-width: 450px) {
	.about-page {
		display: grid;
		grid-template-columns: 1fr;
		height: 88vh;

		.right-box {
			display: none;
		}

		.about-title {
			margin-top: 2em;
			margin-bottom: 0.5em;
		}

		.section-two-skills {
			display: none;
		}

		.section-two-personal {
			display: none;
		}
	}

	.about-story {
		display: none;
	}

	.about-pic {
		display: none;
	}

	// Light mode very small media query

	.light-about-page {
		background-color: $tertiary-color;
		display: grid;
		grid-template-columns: 1fr;
		height: 88vh;

		.right-box {
			display: none;
		}

		.about-title {
			margin-top: 2em;
			margin-bottom: 0.5em;
		}

		.section-two-skills {
			display: none;
		}

		.section-two-personal {
			display: none;
		}

		.about-story {
			display: none;
		}

		.about-pic {
			display: none;
		}

		h3 {
			color: $primary-color;
		}

		p,
		div {
			color: $fourth-color;
		}

		.section-two-name,
		.section-two-skills {
			color: $primary-color;
		}
	}
}

// Small media query
@media only screen and (min-width: 451) and (max-width: 767px) {
	.about-page {
		display: grid;
		grid-template-columns: 1fr;
		height: 85vh;

		.right-box {
			display: none;
		}

		.about-title {
			margin-top: 2em;
			margin-bottom: 0.5em;
		}
	}

	.about-story-one {
		display: none;
	}

	.about-story {
		display: none;
	}

	.about-pic {
		display: none;
	}

	// Light mode small media query

	.light-about-page {
		background-color: $tertiary-color;
		display: grid;
		grid-template-columns: 1fr;
		height: 85vh;

		.right-box {
			display: none;
		}

		.about-title {
			margin-top: 2em;
			margin-bottom: 0.5em;
		}

		h3 {
			color: $primary-color;
		}

		p,
		div {
			color: $fourth-color;
			font-size: 1.1em;
		}
		.about-summary,
		.about-story,
		.about-story-one {
			font-size: 1em;
		}

		.section-two-name,
		.section-two-skills {
			color: $primary-color;
		}
	}
}

// Medium media query
@media only screen and (min-width: 768px) and (max-width: 1200px) {
	.about-page {
		height: 85vh;

		.about-pic {
			max-height: 60%;
			max-width: 60%;
			border-radius: 50px;
		}

		.about-story-one {
			display: none;
		}

		.about-story {
			display: none;
		}

		.about-title {
			margin-top: 1em;
		}

		.about-pic {
			margin-top: 5.5em;
		}

		div {
			margin-top: -2.5em;
		}
	}

	// Light mode large media query
	.light-about-page {
		height: 85vh;

		.about-pic {
			max-height: 60%;
			max-width: 60%;
			border-radius: 50px;
		}

		.about-title {
			margin-top: 1em;
		}

		.about-pic {
			margin-top: 5.5em;
		}

		div {
			margin-top: -2.5em;
		}
	}
}

// Large media query
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
	.about-page {
		height: 85vh;
		font-size: 1.4em;

		.about-pic {
			max-height: 60%;
			max-width: 60%;
			border-radius: 50px;
		}

		.about-title {
			margin-top: 1em;
		}

		.about-pic {
			margin-top: 5.5em;
		}

		div {
			margin-top: -2.5em;
		}

		.section-two-skills {
			display: none;
		}

		.section-two-personal {
			display: none;
		}
	}

	// Light mode large media query
	.light-about-page {
		height: 85vh;
		font-size: 1.4em;

		.about-pic {
			max-height: 60%;
			max-width: 60%;
			border-radius: 50px;
		}

		.about-title {
			margin-top: 1em;
		}

		.about-pic {
			margin-top: 5.5em;
		}

		div {
			margin-top: -2.5em;
		}

		.section-two-skills {
			display: none;
		}

		.section-two-personal {
			display: none;
		}
	}
}

// Very large media query
@media only screen and (min-width: 2401px) and (max-width: 4500px) {
	.about-page {
		height: 85vh;
		font-size: 1.4em;
	}

	// Light mode
	.light-about-page {
		height: 85vh;
		font-size: 1.4em;
	}
}
