@import "./navbar.styles/navbar.styles";
@import "./section-one.styles/section-one.styles";
@import "./variables.scss";

* {
	// border: solid 1px red;
	box-sizing: border-box;
	margin: 5px;
	padding: 0px;
	/* overflow: hidden; */

	scroll-behavior: smooth;
}

// body {
// 	background-color: $primary-color;
// }
