@import "./navbar.styles/navbar.styles";
@import "./section-one.styles/section-one.styles";
@import "./section-two.styles/section-two.styles";
@import "./variables.scss";

* {
	border: solid 1px red;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/* overflow: hidden; */

	scroll-behavior: smooth;
}
